body {
    font-family: Roboto;
    margin: 0;
    min-height: 100vh;
}

 .header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    margin-bottom: 64px;
} 

 .header2 {
    font-weight: 900px;
    font-size: 24px;
} 

 .header3 {
    display: flex;
    gap: 16px;
    font-size: 20px;
} 

.header4 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 16px;

} 

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    max-height: 550px;
    padding: 0 200px 50px 100px;
}



a {
    text-decoration: none;
    color: #f9faf8; 
}

img {
    width: 500px;
    height: 250px;
} 

.web {
    font-weight: 900px;
    font-size: 48px;
    margin-bottom: 8px;
}
.web2 {
    font-size: 18px;
    margin-bottom: 16px;
}

.inner {
    width: 400px;
}

.web3 {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 8px 24px;
    border: none;
    font-size: 18px;
    font-weight: 900px;
    color: #f9faf8;
}


.img {
    width: 200px;
    height: 200px;
    border-radius: 16px;
}

.second {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.second2 {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 64px;
    margin: 0 32px;
}


.subtext {
    width: 200px;
    color: #1f2937;
    font-size: 18px;
}

.second1 {
    font-weight: 900;
    font-size: 36px;
    color: #1f2937
}

.third {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    width: 800px;
}

.third1 {
    color: #1f2937;
    font-weight: 300;
    font-size: 36px;
    
}

.third .third2 {
    align-self: flex-end;
    margin-right: 32px;
    font-weight: bold;
    font-size: 24px;
}

.line {
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
}